*.pyc
/.vs/
/datasets
/datasets/
/results
/results/
/wandb
/wandb/
wandb

.DS_Store

.idea
/.idea/
/.idea
*/__pycache__

__pycache__
/__pycache__
/.vscode
.vscode
/common/apikey.py
/LLMPredictor/test.py
LLMZeroshot/test.py
environment.py
LLMZeroshot/ZeroGv2/logs/\['cora']/arxiv_citeseer_pubmed.txt
LLMZeroshot/ZeroGv2/arxiv_index.pkl
LLMZeroshot/ZeroGv2/logs/\['photo']/computer.txt
LLMZeroshot/ZeroGv2/logs/\['photo']/computer.txt
LLMZeroshot/ZeroGv2/sample_analysis.py